<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Pitufos Agresivos | Recetario</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/Graficos/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/Graficos/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/Graficos/materialize/js/materialize.js"></script>
  <script src="/Graficos/materialize/js/init.js"></script>
</head>
<body>
    <div class="navbar-fixed">
      <nav class="white" role="navigation" >
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo">  <i id="icon" >LOGO</i>  </a>
          <ul class="right hide-on-med-and-down">
            {% if login == 'no' %}
              <li><a href="/login">Login</a></li>
              <li><a href="/registro">Registro</a></li>
            {% else %}
              <li><a href="/logout">Logout</a></li>
            {% endif %}

            {% if rol == 'Anonimo' or rol == 'Usuario' or rol == 'Admin'%}
              <li><a href="/receta/busqueda">Buscar</a></li>
              <a class='dropdown-button' href='#' data-activates='dropdown1'>Recetario</a>
                <ul id='dropdown1' class='dropdown-content'>
                 <li><a href="#!"></a></li>
                 <li><a href="/receta/lista">Todas</a></li>
                 <li class="divider"></li>
                 <li><a href="/receta/categoria?categoria=Entrantes">Entrantes</a></li>
                 <li><a href="/receta/categoria?categoria=Snack">Snack</a></li>
                 <li><a href="/receta/categoria?categoria=Primeros">Primeros</a></li>
                 <li><a href="/receta/categoria?categoria=Segundos">Segundos</a></li>
                 <li><a href="/receta/categoria?categoria=Postres">Postres</a></li>
                </ul>
            {% endif %}
            {% if rol == 'Usuario' or rol == 'Admin'%}
              <a class='dropdown-button' href='#' data-activates='dropdown3'>Mis Recetas</a>
                <ul id='dropdown3' class='dropdown-content'>
                 <li><a href="#!"></a></li>
                 <li><a href="/receta/stored">Guardadas</a></li>
                 <li><a href="/receta/propias">Mis creaciones</a></li>
                 <li><a href="/receta/crear">Añadir Receta</a></li>
                </ul>
            {% endif %}
            {% if rol == 'Admin' %}
             <li><a href="#">Administración</a></li>
            {% endif %}

          </ul>

          <ul id="nav-mobile" class="side-nav">
            {% if login == 'no' %}
              <li><a href="/login">Login</a></li>
              <li><a href="/registro">Registro</a></li>
            {% else %}
              <li><a href="#">Logout</a></li>
            {% endif %}

            {% if rol == 'Anonimo' or rol == 'Usuario' or rol == 'Admin'%}
              <li><a href="#">Buscar</a></li>
              <a class='dropdown-button' href='#' data-activates='dropdown2'>Recetario</a>
                <ul id='dropdown2' class='dropdown-content'>
                 <li><a href="#!"></a></li>
                 <li><a href="/receta/lista">Todas</a></li>
                 <li class="divider"></li>
                 <li><a href="#!">Entrantes</a></li>
                 <li><a href="#!">Snack</a></li>
                 <li><a href="#!">Primeros</a></li>
                 <li><a href="#!">Segundos</a></li>
                 <li><a href="#!">Postres</a></li>
                </ul>
            {% endif %}
            {% if rol == 'Usuario' or rol == 'Admin'%}
             <li><a href="#">Mis recetas</a></li>
            {% endif %}
            {% if rol == 'Admin' %}
             <li><a href="#">Administración</a></li>
            {% endif %}

          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
        {% block content %}

        {% endblock %}


{% extends "footer.html" %}
