{% extends "base.html" %}


{% block content %}
<!-- sdfg -->
    <div class="parallax-container">
      <div class="parallax"><img src="Graficos/background1.jpg"></div>
    </div>
  <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
                <h5 class="center">Un catalogo lleno de recetas</h5>

                <p class="light">Texto intro</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Crea tus propias recetas</h5>

                <p class="light">texto intro</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">fast_forward</i></h2>
                <h5 class="center">Reaiza las recetas en tiempo real</h5>

                <p class="light">texto intro</p>
              </div>
            </div>
          </div>

        </div>
    <br><br>

    <div class="section">

    </div>
  </div>
{% endblock %}