    {% extends "base.html" %}

{% block content %}
<!-- sdfg -->
    <div class="col s12">
      <div class="col s12 introdiv";></div>
    </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">restaurant</i></h2>
            <h5 class="center">Un amplio recetario</h5>

            <p class="light">Elige entre las más de 100 recetas que tenemos en el catálogo o añade las tuyas propias. En esta web encontrar todo tipo de recetas catalogadas como postes, snacks, entrantes… Da igual que no sepas cocinar, nosotros te guiamos paso a paso y con todo lo necesario para ponerte a cocinar en el momento. Vive la cocina como nunca antes lo habías hecho.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="large material-icons">thumbs_up_down</i></h2>
            <h5 class="center">Totalmente Social</h5>

            <p class="light">Valora las recetas en funcion de tus gustos, compartelas con otra gente, añadelas a tus favoritos. Podras comentar en todas las recetas si tiene un usuario activo en la web. Da tu opinion o añade tu experienza para fortalecer la comunidad PitufoCocinitas.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">play_arrow</i></h2>
            <h5 class="center">Las recetas, paso a paso</h5>

            <p class="light">Le damos una vuelta de tuerca a las forma de ver las recetas en internet, gracias a nuestro paso a paso podrás hacer tus recetas en tiempo real con ayuda de la aplicación. Cocinar nunca fue tan fácil.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}