{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <h5 align="center" id="despedida"></h5>
            <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

            <meta name="google-signin-client_id" content="759202318316-ok9n15b9fs4fap8uvfaahaof0tjhbaid.apps.googleusercontent.com">
            <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                $("#despedida").html("¡Hasta luego!")
                $("#despedida").show( 2000 )
                console.log('User signed out.');
              });
            }

            function onLoad() {
              gapi.load('auth2', function() {
                gapi.auth2.init();
              });
              $("#despedida").hide()
              setTimeout(function() { signOut(); }, 1000);


            }
            </script>
        </div>
    </div>
</div>
{% endblock %}
