{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <h3>{{receta.nombre}}</h3>
        </div>
        <div class="row">
            <h4 class="thin">Progreso para completar la receta</h4>
              <div class="progress #90caf9 blue lighten-3" style="height:30px">
                  <div class="determinate blue" id="Ttotal"></div>
              </div>
            <h4 class="thin">Tiempo para terminar este paso</h4>
            <div class="progress" style="height: 15px">
                <div class="determinate" style="width: 0%" id="tPaso"></div>
            </div>

        </div>

        <div class="row card-panel">
                    {% for p in Pasos %}
                    <div class="row" {%if loop.index != 1%} hidden {%endif%} id="r{{loop.index}}">
                    {% if p.tiempo//60 != 0 %}
                        <h6>Paso {{loop.index}}:</h6>{{p.descripcion}} ({{p.tiempo//60}} min {{p.tiempo%60}} seg)
                    {% else %}
                       <h6>Paso {{loop.index}}: </h6>{{p.descripcion}} ({{p.tiempo%60}} seg)
                    {% endif %}
                        <input type="text" id={{loop.index0}} value={{p.tiempo}} hidden/>
                    </div>
                    {% if loop.last %}
                        <input type="text" id="last" value={{loop.index0}} hidden/>
                    {% endif%}
                    {% endfor %}
                <div id="msfinal" hidden>
                    <h4>Espero que este como la nuestra, disfruta de la receta!!!</h4>
                    <img src="/Graficos/play.gif" class="valign responsive-img"></img>
                </div>
        </div>
         <div id="play">
            <a class="btn-floating btn-large waves-effect waves-light right blue " onclick="empezar()"><i class="material-icons">play_arrow</i></a>
         </div>
        <br/>
        <br/>
<!-- -->
    </div>
        <div class="row">
        <div id="pasos">
            <div id="pasos2">
                <h5>Descripción de la receta</h5>
                <p class="light card-panel">
                    {{receta.descripcion}}
                </p>
                <h5>Descripción de los pasos</h5>


                <div class="card-panel">
                    {% for p in Pasos %}
                    <div class="row">
                        {% if editar=='true' %}
                            <i class="material-icons right" onclick="delete_pas({{p.get_id()}})">close</i>

                        {% endif %}
                    {% if p.tiempo//60 != 0 %}
                        Paso {{loop.index}}: <br/>{{p.descripcion}} ({{p.tiempo//60}} min {{p.tiempo%60}} seg)
                    {% else %}
                       Paso {{loop.index}}: <br/>{{p.descripcion}} ({{p.tiempo%60}} seg)
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>

                    {% if editar=='true' %}
                    <div class="row card-panel" style="margin-top:25px">
                        <div class="col s12 m8">
                            <input type="text" placeholder="Descripción" id="paso_desc"/>
                        </div>
                        <div class="col s8 m2">
                            <input class="" type="number" placeholder="Tiempo" id="paso_tim"/>
                        </div>
                        <div class="col s4 m2">
                            <a class="btn-floating btn-large"><i class="material-icons" onclick="insertar_paso()">add</i></a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>



</div>
<br><br>

<div class="section">

</div>
</div>
{% block script %}
<script>
    var i = 1;
    var x;
    function empezar(pos){
        $('#play').hide();
        setTimeout('cambiarProgresoPaso(0,0)',0);
        cambiarProgresoTotal(0);
    }

    function cambiarProgresoTotal(curr){
        var ultimo = $('#last').val();
        ultimo++;
        var pr = (curr*100)/ultimo;
        $('#Ttotal').css("width",pr+'%');
    }

    function cambiarProgresoPaso(it,npaso){
        if ((npaso-1) == $('#last').val() ){
            //poner algo aqui cuando acabe la receta
            $('#msfinal').show();
             $('#play').hide();
        }else{
            var pasoTiempo = $('#'+npaso).val();
            var prog = (it*100)/pasoTiempo
            $('#tPaso').css("width",prog+"%");
            if (it == pasoTiempo){
                npaso++;
                $('#r'+npaso).hide();
                npaso++;
                $('#r'+npaso).show();
                npaso--;
                it=0;
                cambiarProgresoPaso(it,npaso);
                cambiarProgresoTotal(npaso);
            }else{
                it++;
                setTimeout(cambiarProgresoPaso,500,it,npaso);
            }
        }

    }

</script>

{% endblock %}
{% endblock %}