  {% extends "base.html" %}

  {% block content %}
  <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">


                {% for n in range(1,15) %}
                    <div class="col s12 m4 l3">
                         <div class="card">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" src="Graficos/background1.jpg">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">Titulo<i class="material-icons right">more_vert</i></span>
     <p><a href="/receta">Ver Receta</a></p>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">Titulo<i class="material-icons right">close</i></span>

     <p class="truncate">descriptshjdfgjshdfzhvcmjxhvc</p>
       <br/>
                                      {% for n in range(1,4) %}
                          <div class="chip">
    #Tagmaslargo

  </div>
                        {% endfor %}
   </div>
 </div>

                    </div>
                {% endfor %}


          </div>



        </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  {% endblock %}