
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <h3>{{receta.nombre}}</h3>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <img class="responsive-img" src="/view_photo?id={{id}}">
            </div>

            <div class="col s12 m6" id="ingred">
                <div id="ingred2">
                    <h5>Ingredientes</h5>
                    <p class="light">
                        <ul class="collection">

                            {% for i in Ingredientes %}

                            <li class="collection-item">
                                <div>
                                    {% if editar=='true' %}
                                    <a class="secondary-content">
                                        <i class="material-icons" onclick="delete_ing({{i.get_id()}})">close</i>
                                    </a>
                                    {% endif %}
                                    {{i.nombre}} {{i.cantidad}}
                                    {% if i.descripcion!="" %}
                                    ({{i.descripcion}})
                                    {% endif %}

                                </div>
                            </li>

                            {% endfor %}




                            {% if editar=='true' %}
                            <li class="collection-item">
                                <input class="col s12 m3" type="text" id="ingrediente" placeholder="Ingrediente" required/>
                                <div class="col s12 m1"><p> </p></div>
                                <input class="col s12 m3" type="text" id="cantidad" placeholder="Cantidad" required/>
                                <div class="col s12 m1"><p> </p></div>
                                <input class="col s12 m3" type="text" placeholder="Descripción" id="descripcion"/>
                                <a class="secondary-content"><i class="material-icons" onclick="insertar_ingrediente()">add</i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div>

    </div>
    <div class="row ">
        <div class="col s12 m2" >
            <div class="chip" >
                <img src="/Graficos/trofeo.jpeg" alt="Votos">
                <span id="votos">{{receta.num_votos}} Votos</span>
            </div>
        </div>
        <div class="col s6 m4">
            <div style="height: 20px;">
                <p></p>
             </div>
              <div class="fixed-action-btn horizontal click-to-toggle" style="padding-top: 0px;">
                    <a class="btn-floating btn-large right green">
                    <i class="large material-icons">share</i>
                    </a>
            <ul style="padding-top: 5px;">
              {%if rol!="Anonimo" %}<li><a class="btn-floating red" onclick="favorito({{id}})"><i class="material-icons" id="favico">
                  {% if guardada %}favorite {%else%} favorite_border{% endif %}</i></a></li>{% endif %}
              <li><a class="btn-floating blue" id="botonvoto" onclick= "votar({{id}})" ><i class="material-icons">plus_one</i></a></li>
            </ul>
            </div>
        </div>
        <div class="col s6 m2 " hidden>
            <div class="switch ">
                    <label>
                        <input type="checkbox" id="fav" onchange="favorito({{id}})" {% if guardada %}checked{% endif %}>
                        <span class="lever"></span>
                        Favorito
                    </label>
            </div>
        </div>
        <div class="col s4 m2"  style="padding-top: 10px;" >
            <a class="waves-effect btn-large waves-light btn-floating blue tooltipped" href="/receta/play?id={{id}}"
            data-position="top" data-delay="10" data-tooltip="Realizar receta paso a paso" ><i class="material-icons">play_arrow</i> </a>
        </div>


        </div>


    </div>
    <div class="row">
        <div id="pasos">
            <div id="pasos2">
                <h5>Descripción de la receta</h5>
                <p class="light card-panel">
                    {{receta.descripcion}}
                </p>
                <h5>Descripción de los pasos</h5>


                <div class="card-panel">
                    {% for p in Pasos %}
                    <div class="row">
                        {% if editar=='true' %}
                            <i class="material-icons right" onclick="delete_pas({{p.get_id()}})">close</i>

                        {% endif %}
                    {% if p.tiempo//60 != 0 %}
                        Paso {{loop.index}}: <br/>{{p.descripcion}} ({{p.tiempo//60}} min {{p.tiempo%60}} seg)
                    {% else %}
                       Paso {{loop.index}}: <br/>{{p.descripcion}} ({{p.tiempo%60}} seg)
                    {% endif %}
                    </div>
                    {% endfor %}
                </div>

                    {% if editar=='true' %}
                    <div class="row card-panel" style="margin-top:25px">
                        <div class="col s12 m8">
                            <input type="text" placeholder="Descripción" id="paso_desc"/>
                        </div>
                        <div class="col s8 m2">
                            <input class="" type="number" placeholder="Tiempo" id="paso_tim"/>
                        </div>
                        <div class="col s4 m2">
                            <a class="btn-floating btn-large"><i class="material-icons" onclick="insertar_paso()">add</i></a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="row" id="comentarios">
        {% if editar!='true' %}
        <h5>Comentarios</h5>
        <div>
        {% if rol!="Anonimo" %}
            <div class="card-panel">
                <div class = "row">
                    <div class="col s0 m1"><p></p></div>
                    <div class="input-field col s12 m10">
                        <textarea class="materialize-textarea" placeholder="Escribe tu comentario" id="text_com"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m11">
                        <a class="waves-effect waves-light btn right" onclick="comentar({{id}})">Añadir</a>
                    </div>
                    <div class="col s0 m1"><p></p></div>
                </div>
            </div>
        {% endif %}
            <br>
        {% for c in receta.obtener_comentarios() %}
            <div class="card-panel">
                <div class="chip left">
                    <img src="/Graficos/anonym.png">
                    {{c.nick}}
                  </div>
                <br><br>
                <br><br>
                {{c.texto}}

            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if editar!='true' and propietario=='true' %}
            <a href="/receta/editar?id={{id}}" class="btn-floating fixed btn-large waves-effect waves-light red right tooltipped
            " data-position="left" data-delay="10" data-tooltip="Editar">
                <i class="material-icons" >edit</i></a>
        {% elif editar=='true'%}
            <a href="/receta/ver?id={{id}}"class="btn-floating btn-large waves-effect waves-light red right tooltipped
            " data-position="left" data-delay="10" data-tooltip="Guardar">
                <i class="material-icons" alt="guardar">save</i></a>
        {% endif %}
    </div>
</div>
<br><br>

<div class="section">

</div>
</div>

{% block script %}

<script>
{% if editar=='true' %}
    function insertar_ingrediente(){
        var ing = $('#ingrediente').val();
        var can = $('#cantidad').val();
        var des = $('#descripcion').val();

        if(ing!="" && can!=""){
            $.post( "/receta/addIns",{ id: "{{id}}", nombre: ing, descripcion: des, cantidad: can })
            .done(function( data ) {
                if(data == 'OK'){
                    setTimeout(function(){$('#ingred').load(document.URL +  ' #ingred2')},1000);
                }else{
                    alert("Fallo en la insercion");
                }

            });
        }else{
            alert("Debes insertar al menos un ingrediente y su cantidad");
        }
    }

    function insertar_paso(){
        var tim = $('#paso_tim').val();
        var des = $('#paso_desc').val();

        if(des!="" && tim > 0){
            $.post( "/receta/addPas",{ id: "{{id}}", tiempo: tim, descripcion: des})
            .done(function( data ) {
                if(data == 'OK'){
                    setTimeout(function(){$('#pasos').load(document.URL +  ' #pasos2')},1000);
                }else{
                    alert("Fallo en la insercion");
                }
            });
        }else{
            alert("Debes insertar una descripción y un tiempo positivo");
        }




    }

    function delete_ing(id){
        $.post( "/receta/delIns",{ id: id })
        .done(function( data ) {
           if(data == 'OK'){
                setTimeout(function(){$('#ingred').load(document.URL +  ' #ingred2')},1000);
           }else{
                alert("Fallo en la eliminacion");
           }

        });
    }

    function delete_pas(id){
        $.post( "/receta/delPas",{ id: id })
        .done(function( data ) {
           if(data == 'OK'){
                setTimeout(function(){$('#pasos').load(document.URL +  ' #pasos2')},1000);
           }else{
                alert("Fallo en la eliminacion");
           }

        });
    }

{% endif %}
{% if rol!=Anonimo %}
    function comentar(id){
        var texto = $('#text_com').val();
        $.post( "/receta/addComentario",{ id: id , texto: texto})
        .done(function( data ) {
           if(data == 'OK'){
                setTimeout(function(){$('#comentarios').load(document.URL +  ' #comentarios')},1000);
           }else{
                alert("Fallo en la insercion");
           }

        });
    }

    function favorito(id){

        var estado = "add";
        if($("#fav").is(":checked")){
            var estado = "borrar";
            $(' #favico').text('favorite_border');
            $( "#fav" ).prop( "checked" , false);
        }else{
            $( "#fav" ).prop( "checked", true);
            $(' #favico').text('favorite');
        }

        $.post( "/receta/Fav",{ id: id , estado: estado})
        .done(function( data ) {
           if(data == 'OK'){
                if(estado == "borrar"){
                    Materialize.toast('Se ha eliminado de favoritos', 4000,'');
                }else{
                    Materialize.toast('Se ha añadido a favoritos', 4000,'');
                }

           }else{
                alert("Fallo en el sistema");
           }

        });

    }

{% endif %}
    function votar(id){
        $.post( "/receta/votar",{ id: id })
        .done(function( data ) {
           if(data != 'ERROR'){
                $( "#botonvoto" ).addClass( "disabled");
                $("#votos").html(data);
                $("#votocon").html("<a class='waves-effect waves-light btn-floating disabled' id='botonvoto'>+1</a>");
           }else{
                alert("Fallo en la votacion");
           }

        });
    }

</script>

{% endblock %}

{% endblock %}