
    {% extends "base.html" %}

    {% block content %}
        <div class="container">
        <div class="section">

          <!--   Icon Section   -->
        <div class="row">
                <h3>Titulo de la receta</h3>
        </div>
          <div class="row">
            <div class="col s12 m6">
                <img class="responsive-img" src="/Graficos/background1.jpg">
            </div>

            <div class="col s12 m6">
                <h5>Ingredientes</h5>
                <p class="light">
                {% for n in range(1,15) %}

                    ingrediente numero {{n}}<br/>

                {% endfor %}
                </p>
            </div>

          </div>

          <div class="row">
              <h5>Descripción de la receta</h5>
              {% for n in range(1,30) %}

              por no escribir un texto largo{{n}}

                {% endfor %}
              <div class="row">
                  <a class="btn-floating btn-large waves-effect waves-light right red"><i class="material-icons">play_arrow</i></a>
              </div>
          </div>

        </div>
    <br><br>

    <div class="section">

    </div>
  </div>
    {% endblock %}