  {% extends "base.html" %}

  {%block content %}

    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
<style type="text/css"> .label {text-align: right} .error {color: red} </style>
          <div class="row card-panel">
            <div class="col s0 m2"><p></p></div>
                <form method="POST" class="col s12 m8">
                  <div class="row"> <h2 class="thin"> Registro </h2></div>
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <i class="material-icons prefix">person_pin</i>
                      <input name="name" id="Nombre" type="text" class="validate" length="30" value="%(name)s">
                      <label for="Nombre">Nombre</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <i class="material-icons prefix">account_circle</i>
                      <input name="surname" id="Apellido" type="text" class="validate" length="30" value="%(surname)s">
                      <label for="Apellido">Apellidos</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">perm_identity</i>
                      <input name="username" id="nick" type="text" class="validate" length="20" value="%(username)s">
                      <div class="error"> %(username_error)s </div>
                      <label for="Nick">Nick</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input name="email" id="email" type="email" class="validate" length="50" value="%(email)s">
                      <div class="error"> %(email_error)s </div>

                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock_outline</i>
                      <input name="password" id="password" type="password" class="validate" value="%(password)s">
                      <div class="error"> %(password_error)s </div>
                      <label for="password">Contraseña</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock_outline</i>
                      <input name="verify" id="verify" type="password" class="validate" value="%(verify)s">
                      <div class="error"> %(verify_error)s </div>
                      <label for="password2">Contraseña</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">live_help</i>
                      <input id="pregunta" type="text" length="60">
                      <label for="pregunta">Tu pregunta secreta</label>
                    </div>
                  </div>
                  <div class="row">
                   <button class="btn waves-effect waves-light btn-medium right" type="submit" name="action">Registrar
                    <i class="material-icons right">send</i>
                   </button>
                  </div>
                </form>
          </div>
      </div>

    </div>
  </div>

  {% endblock %}
